/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
}

header{
    background-color: #678DF3;
    min-height: 600px;
    padding-top: 20px;
    color: white;
}

nav {
    margin-bottom: 50px;
    background-color: blueviolet;
    padding: 10px 0;
}

h3 {
    flex-basis: 100px;
    background-color: aqua;
    border: 1px solid coral;
}

/* Utilis */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

/* Header nav*/
.logo {
    flex-basis: 100px;
    background-color: aqua;
    border: 1px solid coral;
    min-height: 20px;
} 

.menu {
    flex-basis: 500px;
}


#log-in {
    flex-basis: 100px;
    background-color: aqua;
    border: 1px solid coral;
}

/* header section */
#text-header {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: blueviolet;
    min-height: 400px;
    padding: 20px
}

#text-header h1 {
    font-size: 50px;
    padding: 30px 0;
}

.bar {
    background-color: aqua;
    margin-top: 30px;
    padding: 0 30px;
}

#download,#open-in {
    flex-basis: 40%;
    min-height: 40px;
    margin: 0 15px;
}
